@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 255, 255, 255;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
		rgb(var(--background-start-rgb));
}

@layer base {
	h1 {
		@apply font-extrabold text-5xl mb-3;
		font-family: "Montserrat", sans-serif;
	}
	h2 {
		@apply font-extrabold text-5xl mb-3 text-secondary;
	}
	p {
		font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	}
	li {
		@apply text-lg;
		font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	}
}
